doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title LaFashionista Marche.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/''")
  
  body
  
    header.topFrame
    
      .row.pageNav
        .columns.eight.iconLogo
     
        .columns.one.home
          strong Home
        .columns.one.about
          strong About
        .columns.one.posts
          strong Posts
        .columns.one.contact
          strong Contact
            
    section.viewWindow
      .backImage
      .logo
      .foreImage
            
    section.blog
    
      article
      
        .row.log
          .columns.eight
    
            h1 Fashion Exhibition
            
            hr
            //img(src="/images/model1.jpg")
            img(src="https://unsplash.it/700/300/?random")
            
            p.main <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
               <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
               <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
               <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
               <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
               <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

               
            hr
            
          .columns.four
          
            h5 Related 
            
            p.related <strong>Fashion Designs</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
      
    section.rotateImg
    
      article
      
        h1 The La_Marche
    
        p.men Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        .row.rot
          fig.columns.three
            //img(src="/images/model1.jpg")
            img(src="https://unsplash.it/300/500/?random")
            figcaption The Confident 
             <strong>Posture</strong>
          
          fig.columns.three
            //img(src="/images/model2.jpg")
            img(src="https://unsplash.it/300/500/?random")
            figcaption A Step to 
             <strong>Greatness</strong>
            
          fig.columns.three
            //img(src="/images/model3.jpg")
            img(src="https://unsplash.it/300/500/?random")
            figcaption So Silent it 
             <strong>Whispers</strong>
             
          fig.columns.three
            //img(src="/images/57.jpg")
            img(src="https://unsplash.it/300/500/?random")
            figcaption It Inspires
             <strong>Believe!</strong>
    
    section.content
      
      article
        
        h1 Unique Style
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        
        hr		

        .peekWindow		
          .shade
            .videoLink A 
              strong Peek?
              a(href="https://goo.gl/H4aijY").linkText Right Now     
              
        h1 The Runway
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        
        hr
        
        .blogPosts.row
          .post.columns.four.post1
            h4 Title
            img(src="https://unsplash.it/400/300/?random")
            p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            p: a.button(href="#blog") Read More
            
          .post.columns.four.post2
            h4 Title
            img(src="https://unsplash.it/400/300/?random")
            p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            p: a.button(href="#blog") Read More
            
          .post.columns.four.post3
            h4 Title
            //img(src="/images/posts/")
            img(src="https://unsplash.it/400/300/?random")
            p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            p: a.button(href="#blog") Read More
    
    
    footer
      .row.footer-inside
        .columns.three
          strong Social Media
          ul
            li: a(href="") Facebook
            li: a(href="") Twitter
            li: a(href="") linkedln
            li: a(href="") Instagram
            
        .columns.three
          strong Related
          ul
            li: a(href="") Marche Italy
            li: a(href="") Fashionista
            li: a(href="") Market NY
            li: a(href="") LaFashion M
            
        .columns.six
          p <strong>Let Us Inspire You</strong> <br>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 

          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email Here")
            .columns.four
              input.button-primary(type="submit")
                      
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/js/parallax.js")